body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
}

/* INTRO VIDEO */
#intro {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: black;
}

#intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BACKGROUND VIDEO */
.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.25;
}

.header {
  padding: 15px;
  background: rgba(0,0,0,0.6);
  border-bottom: 2px solid #ff2d55;
}

button {
  padding: 10px 15px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.box, #twoxArea {
  background: rgba(0,0,0,0.6);
  padding: 10px;
  border-radius: 8px;
}