body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
}

#intro {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

#intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-video {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.25;
  object-fit: cover;
}

.header {
  padding: 15px;
  background: rgba(0,0,0,0.6);
}

button {
  padding: 10px 15px;
  margin: 10px;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 15px;
}

.box {
  padding: 30px;
  border-radius: 12px;
  background: rgba(0,0,0,0.7);
  animation: glow 2s infinite alternate;
  font-size: 22px;
}

@keyframes glow {
  from { box-shadow: 0 0 10px #ff2d55; }
  to { box-shadow: 0 0 20px #00ffcc; }
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: #111;
  padding: 20px;
  border-radius: 10px;
}
